<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark mb-5 shadow-sm">
	<div class="container">
		<a class="navbar-brand d-flex align-items-center" th:href="@{/}">
			<img th:src="@{/images/logo.png}" alt="Cine" height="32" class="me-2 rounded-3">
			<span>Godzilla Cinema</span>
		</a>
		<button class="navbar-toggler" type="button"
		        data-bs-toggle="collapse" data-bs-target="#mainNav"
		        aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="mainNav">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link" th:href="@{/movies}">
						<i class="fa-regular fa-circle-play"></i> Películas
					</a>
				</li>
				<li class="nav-item" sec:authorize="hasRole('ADMIN')">
					<a class="nav-link" th:href="@{/rooms}">
						<i class="fa-solid fa-person-booth"></i> Salas
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/sessions}">
						<i class="fa-solid fa-chalkboard"></i> Funciones
					</a>
				</li>
				<li sec:authorize="isAuthenticated()" class="nav-item">
					<a class="nav-link" th:href="@{/tickets}">
						<i class="fa-solid fa-ticket"></i> Tickets
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/reviews}">
						<i class="fa-solid fa-comment"></i> Reviews
					</a>
				</li>
				<li class="nav-item" sec:authorize="hasRole('ADMIN')">
					<a class="nav-link" th:href="@{/admin/users}">
						<i class="fa-solid fa-users"></i> Usuarios
					</a>
				</li>
			</ul>

			<div sec:authorize="!isAuthenticated()" class="d-flex justify-content-end">
				<a class="btn btn-outline-light btn-sm" th:href="@{/login}">
					<i class="fa-solid fa-sign-in"></i> Entrar
				</a>
				<a class="btn btn-light btn-sm ms-2" th:href="@{/register}">
					<i class="fa-solid fa-circle-user"></i> Registro
				</a>
			</div>

			<div sec:authorize="isAuthenticated()" class="d-flex align-items-center justify-content-end">

				<a class="d-flex align-items-center text-light text-decoration-none me-3" th:href="@{/profile}">
					<img
							th:src="${#authentication.principal.imageUrl != null ?
                        #authentication.principal.imageUrl : '/images/avatar.svg'}"
							alt="avatar" width="32" height="32"
							class="rounded-circle object-fit-cover me-2 border border-2 border-light bg-white">

					<span sec:authentication="name"></span>

				</a>
				<form th:action="@{/logout}" method="post" class="d-inline">
					<button class="btn btn-outline-light btn-sm ms-2">
						<i class="fa-solid fa-sign-out"></i> Salir
					</button>
				</form>

			</div>

		</div>
	</div>
</nav>
</body>
</html>


