<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layout/head :: head('Cine')}"></head>
<body class="d-flex flex-column min-vh-100">

<header th:replace="~{layout/navbar :: navbar}"></header>

<main class="container flex-grow-1">
	<div sec:authorize="hasRole('ADMIN')" class="d-flex justify-content-between align-items-center mb-4">
		<p class="fs-3 fw-bold mb-0">¡Quieto todo el mundo! Ha llegado el admin... 👀</p>
		<a th:href="@{/movies/new}" class="btn btn-primary align-self-end">
			<i class="fa-solid fa-plus"></i>
			Crear película
		</a>
	</div>

	<ul class="nav nav-tabs rounded-top bg-danger pt-3 px-3 border-bottom-0">
		<li class="nav-item">
			<a class="nav-link"
			   th:classappend="${section == 'BILLBOARD'} ? 'active bg-primary-subtle' : 'text-white'"
			   th:href="@{/movies/billboard}">Cartelera</a>
		</li>
		<li class="nav-item">
			<a class="nav-link"
			   th:classappend="${section == 'FLUX'} ? 'active bg-primary-subtle' : 'text-white'"
			   th:href="@{/movies/flux}">Emisiones Flux</a>
		</li>
	</ul>

	<div class="card rounded-top-0 border-top-0">
		<div class="mb-4">
			<nav class="navbar navbar-expand-lg bg-primary-subtle">
				<div class="container-fluid">
					<a class="nav-link" th:href="@{/movies(section=${section})}">
						<h1 class="fs-5 mb-0">Volver a todas las películas</h1>
					</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ms-auto me-2 mb-2 mb-lg-0">
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									Género
								</a>
								<ul class="dropdown-menu">
									<li th:each="genre : ${genres}">
										<a class="dropdown-item"
										   th:href="@{/movies(section=${section}, genre=${genre.name()})}"
										   th:text="${genre.label}">
										</a>
									</li>
								</ul>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									Estado
								</a>
								<ul class="dropdown-menu" th:if="${section=='BILLBOARD'}">
									<li>
										<a th:href="@{/movies(section='BILLBOARD', movieStatus='COMING_SOON')}"
										   class="dropdown-item">Próximamente</a>
									</li>
									<li>
										<a th:href="@{/movies(section='BILLBOARD', movieStatus='PRE_SALES')}"
										   class="dropdown-item">Venta anticipada</a>
									</li>
									<li>
										<a th:href="@{/movies(section='BILLBOARD', movieStatus='NOW_SHOWING')}"
										   class="dropdown-item">En cartelera</a>
									</li>
									<li>
										<a th:href="@{/movies(section='BILLBOARD', movieStatus='LAST_DAYS')}"
										   class="dropdown-item">Últimos días</a>
									</li>
									<li>
										<a th:href="@{/movies(section='BILLBOARD', movieStatus='FINISHED')}"
										   class="dropdown-item">Ya no disponible</a>
									</li>
								</ul>

								<ul class="dropdown-menu" th:if="${section=='FLUX'}">
									<li>
										<a th:href="@{/movies(section='FLUX', movieStatus='IN_VOTING')}"
										   class="dropdown-item">En votación</a>
									</li>
									<li>
										<a th:href="@{/movies(section='FLUX', movieStatus='VOTED')}"
										   class="dropdown-item">Votado</a>
									</li>
								</ul>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									Edad mínima
								</a>
								<ul class="dropdown-menu">
									<li th:each="minAge : ${minAges}">
										<a class="dropdown-item"
										   th:href="@{/movies(section=${section}, minAge=${minAge.name()})}"
										   th:text="${minAge.label}">
										</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
					<form class="d-flex" role="search" th:action="@{/movies}">
						<input type="search" name="title" class="form-control form-control-sm me-2"
						       placeholder="Busca por título..." th:value="${param.title}" list="movies">
						<datalist th:each="movie : ${movies}" id="movies">
							<option th:each="movie : ${movies}"
							        th:text="${movie.title}">
							</option>
						</datalist>
						<input type="hidden" name="section" th:value="${section}">
						<button type="submit" class="btn btn-primary btn-sm">
							<i class="fa-solid fa-magnifying-glass"></i>
						</button>
					</form>
				</div>
			</nav>
		</div>
		<div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 p-3 g-3">
			<div class="col" th:each="movie : ${movies}">
				<div th:replace="~{fragments/movie-card :: movieCard(${movie}, ${favoriteMovieIds})}"></div>
			</div>
		</div>
	</div>
</main>

<footer th:replace="~{layout/footer :: footer}"></footer>
<script th:replace="~{layout/footer :: scripts}"></script>

</body>
</html>