<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/head :: head('Detalle Película')}"></head>
<body class="d-flex flex-column min-vh-100">

<header th:replace="~{layout/navbar :: navbar}"></header>

<main class="container flex-grow-1 mb-3">
	<div class="row">
		<div class="col">
			<div class="card shadow-sm mb-3">
				<div class="row g-0">
					<div class="col-md-4">
						<img th:src="${movie.getImageUrl}" class="img-fluid rounded-start" alt="Film card">
					</div>
					<div class="col-md-8">
						<div class="card-body m-4">
							<div class="d-flex align-items-center gap-2">
								<h5 class="card-title mb-3 fs-1 mb-0" th:text="${movie.title}">Título</h5>
								<span th:text="'(' + ${movie.duration} + 'min)'">0</span>
							</div>
							<div class="card-text">
								<p class="fw-bold mb-1">
									Dirigida por:
									<span class="fw-normal" th:text="${movie.director.label}"></span>
								</p>
								<p class="fw-bold mb-1">
									Año de lanzamiento:
									<span class="fw-normal" th:text="${movie.releaseYear}"></span>
								</p>
								<p class="fw-bold mb-1">
									Edad mínima:
									<span class="fw-normal" th:text="${movie.minAge.label}"></span>
								</p>
							</div>
							<div class="mb-2">
								<span class="badge bg-info text-black">
	                                <span th:each="g : ${movie.genreSet}"
	                                      th:text="${g.label} + ' '">
									</span>
	                            </span>
							</div>
							<p class="card-text" th:text="${movie.sinopsis}"></p>
							<div class="mb-3">
								<iframe style="height: 10rem" th:src="${movie.trailerUrl}" title="YouTube video player"
								        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen
								        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
							            picture-in-picture; web-share">
								</iframe>
							</div>
							<!-- TODO poner listado de SESSION -->





						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

<footer th:replace="~{layout/footer :: footer}"></footer>
<script th:replace="~{layout/footer :: scripts}"></script>

</body>
</html>