<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en" th:replace="~{layout/head :: head('Formulario Película')}"></head>
<body class="d-flex flex-column min-vh-100">

<header th:replace="~{layout/navbar :: navbar}"></header>

<main class="container flex-grow-1">

	<h1 class="mb-4">
		<i class="fa-solid fa-film text-primary me-2"></i>Formulario película
	</h1>

	<form th:action="@{/movies}" method="post" th:object="${movie}" enctype="multipart/form-data">

		<input type="hidden" th:field="*{id}">

		<div class="mb-3">
			<label for="title" class="form-label">Título</label>
			<input type="text" class="form-control" id="title"
			       th:field="*{title}" placeholder="El Padrino" required>
		</div>

		<div class="mb-3">
			<label class="form-label">Géneros</label>
			<div class="form-control d-grid gap-2" style="grid-template-columns: auto auto auto;">
				<div th:each="genre : ${genres}">
					<input id="genreSet" type="checkbox" th:field="*{genreSet}" th:value="${genre}">
					<label for="genreSet" th:text="${genre.label}"></label>
				</div>
			</div>
		</div>

		<div class="mb-3">
			<label for="director" class="form-label">Director</label>
			<select class="form-select" id="director" name="directorName" required>
				<option value=""></option>
				<option
						th:each="director : ${directors}"
						th:value="${director.name}"
						th:text="${director.id + ' - ' + director.name}"
						th:selected="${movie.director != null and movie.director.id == director.id}">
				</option>
			</select>
			<small>¿No encuentras el director?
				<a th:href="${movie.id != null ? '/directors/new?returnTo=/movies/edit/' + movie.id :
				'/directors/new?returnTo=/movies/new'}">
					Crea uno nuevo
				</a>
			</small>
		</div>

		<div class="mb-3">
			<label for="releaseDate" class="form-label">Fecha de lanzamiento</label>
			<input type="date" class="form-control" id="releaseDate" placeholder="1985/05/06"
			       th:value="${#temporals.format(movie.releaseDate, 'yyyy-MM-dd')}" required>
		</div>

		<div class="mb-3">
			<label class="form-label" for="section">Sección</label>
			<select class="form-select" id="section" th:field="*{section}" required>
				<option value=""></option>

				<option
						th:each="section : ${sections}"
						th:value="${section}"
						th:text="${section.label}">
				</option>

			</select>
		</div>

		<div class="mb-3">
			<label class="form-label" for="movieStatus">Estado</label>
			<select class="form-select" id="movieStatus" th:field="*{movieStatus}" required>
				<option value=""></option>

				<option
						th:each="movieStatus : ${moviesStatus}"
						th:value="${movieStatus}"
						th:text="${movieStatus.label}">
				</option>

			</select>
		</div>

		<div class="mb-3">
			<label class="form-label" for="minAge">Edad mínima</label>
			<select class="form-select" id="minAge" th:field="*{minAge}" required>
				<option value=""></option>

				<option
						th:each="minAge : ${minAges}"
						th:value="${minAge}"
						th:text="${minAge.label}">
				</option>

			</select>
		</div>

		<div class="mb-3">
			<label for="duration" class="form-label">Duración</label>
			<input type="number" class="form-control" id="duration"
			       th:field="*{duration}" min="30" required>
		</div>

		<div class="mb-3">
			<label for="trailerUrl" class="form-label">Enlace del trailer</label>
			<input type="text" class="form-control" id="trailerUrl"
			       th:field="*{trailerUrl}" required>
		</div>
		<!-- TODO mostrar preview del trailer de youtube para ver como quedaría el trailer cargado-->

		<div class="mb-3">
			<label for="sinopsis" class="form-label">Sinopsis</label>
			<textarea class="form-control" id="sinopsis" th:field="*{sinopsis}"
			          rows="3" maxlength="500" placeholder="Año 1941. Las tropas alemanas..." required>
			</textarea>
		</div>

		<div class="mb-3">
			<label for="imageFile" class="form-label">Imagen</label>
			<input type="hidden" th:field="*{imageUrl}">

			<input type="file" class="form-control" id="imageFile" name="imageFile" accept="image/*">

			<img id="preview" alt="Previsualización" class="mt-2 rounded"
			     style="max-height:150px; display:none"
			     th:src="${movie != null and movie.imageUrl != null ? movie.imageUrl : null}">
		</div>

		<button type="submit" class="btn btn-success">
			<i class="fa-solid fa-floppy-disk"></i> Guardar
		</button>
		<a sec:authorize="hasRole('ADMIN')" th:href="@{/movies/deactivate/{id}(id=${movie.id})}"
		   class="btn btn-warning" th:if="${movie.id != null}"
		   onclick="return confirm('¿Estás seguro de que querés desactivar esta función?')">
			<i class="fa-solid fa-ban me-1"></i> Desactivar
		</a>

		<a th:href="@{/movies}" class="btn btn-secondary">Cancelar</a>


	</form>

</main>

<footer th:replace="~{layout/footer :: footer}"></footer>
<script th:replace="~{layout/footer :: scripts}"></script>
<script th:src="@{/js/img-preview.js}"></script>
</body>
</html>